<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog-BitkiKlinik.API.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!-- Console Target for hosting lifetime messages to improve Docker / Visual Studio startup detection -->
    <target xsi:type="Console" name="lifetimeConsole" layout="${MicrosoftConsoleLayout}" />

    <!-- File Target for WARNING messages -->
    <!-- Folder structure: Logs/YYYY-MM-DD/Warning/YYYYMMDDHHMMSSFFF.txt -->
    <target xsi:type="File" name="warningFile" 
            fileName="${basedir}/Logs/${shortdate}/Warning/${date:format=yyyyMMdd_HHmmssfff}.txt"
            layout="${longdate}|${level:uppercase=true}|${logger}|cid=${aspnet-traceidentifier}|uid=${aspnet-user-claim:ClaimTypes.NameIdentifier}|path=${aspnet-request-url}|msg=${message} ${exception:format=tostring}" />

    <!-- File Target for ERROR messages -->
    <!-- Folder structure: Logs/YYYY-MM-DD/Error/YYYYMMDDHHMMSSFFF.txt -->
    <target xsi:type="File" name="errorFile" 
            fileName="${basedir}/Logs/${shortdate}/Error/${date:format=yyyyMMdd_HHmmssfff}.txt"
            layout="${longdate}|${level:uppercase=true}|${logger}|cid=${aspnet-traceidentifier}|uid=${aspnet-user-claim:ClaimTypes.NameIdentifier}|path=${aspnet-request-url}|msg=${message} ${exception:format=tostring}" />

  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!-- Ignore specific annoying ASP.NET Core 8 port warning -->
    <logger name="Microsoft.AspNetCore.Hosting.Diagnostics" minlevel="Warning">
      <filters defaultAction="Log">
        <when condition="contains('${message}', 'Overriding HTTP_PORTS')" action="IgnoreFinal" />
      </filters>
    </logger>

    <!--Output hosting lifetime messages to console target for faster startup detection -->
    <logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole" final="true" />

    <!--Skip non-critical Microsoft logs and so log only own logs (BlackHole) -->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="System.Net.Http.*" maxlevel="Info" final="true" />

    <!-- Only grab Warning logs and write them to warningFile and console -->
    <logger name="*" level="Warning" writeTo="warningFile, lifetimeConsole" />

    <!-- Only grab Error (and Fatal) logs and write them to errorFile and console -->
    <logger name="*" minlevel="Error" writeTo="errorFile, lifetimeConsole" />
  </rules>
</nlog>
